<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>QuizoneWebApp</display-name>
  <session-config>
  	<session-timeout>35</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>JSP/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
        <description></description>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.login.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>LogoutServlet</display-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.login.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
      <description></description>
      <display-name>AdminDashboardServlet</display-name>
      <servlet-name>AdminDashboardServlet</servlet-name>
      <servlet-class>com.admin.dashboard.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>AdminDashboardServlet</servlet-name>
      <url-pattern>/admin-dashboard</url-pattern>
    </servlet-mapping>
    <servlet>
      <description></description>
      <display-name>TeacherDashboardServlet</display-name>
      <servlet-name>TeacherDashboardServlet</servlet-name>
      <servlet-class>com.teacher.dashboard.TeacherDashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>TeacherDashboardServlet</servlet-name>
      <url-pattern>/teacher-dashboard</url-pattern>
    </servlet-mapping>
    <servlet>
      <description></description>
      <display-name>EditTeacherProfileServlet</display-name>
      <servlet-name>EditTeacherProfileServlet</servlet-name>
      <servlet-class>com.teacher.dashboard.EditTeacherProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>EditTeacherProfileServlet</servlet-name>
      <url-pattern>/edit-teacher</url-pattern>
    </servlet-mapping>
    <servlet>
      <description></description>
      <display-name>EditAdminDetailsServlet</display-name>
      <servlet-name>EditAdminDetailsServlet</servlet-name>
      <servlet-class>com.admin.dashboard.EditAdminDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>EditAdminDetailsServlet</servlet-name>
      <url-pattern>/edit-admin</url-pattern>
    </servlet-mapping>
    <servlet>
      <description></description>
      <display-name>CreateUserServlet</display-name>
      <servlet-name>CreateUserServlet</servlet-name>
      <servlet-class>com.admin.CreateUser.CreateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>CreateUserServlet</servlet-name>
      <url-pattern>/create-user</url-pattern>
    </servlet-mapping>
    <servlet>
      <description></description>
      <display-name>ManageUsersServlet</display-name>
      <servlet-name>ManageUsersServlet</servlet-name>
      <servlet-class>com.admin.dashboard.ManageUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>ManageUsersServlet</servlet-name>
      <url-pattern>/manage-users</url-pattern>
    </servlet-mapping>
    <servlet>
      <description></description>
      <display-name>EditUsersServlet</display-name>
      <servlet-name>EditUsersServlet</servlet-name>
      <servlet-class>com.admin.EditUsers.EditUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>EditUsersServlet</servlet-name>
      <url-pattern>/edit-users</url-pattern>
    </servlet-mapping>
    <servlet>
      <description></description>
      <display-name>RetrievePasswordServlet</display-name>
      <servlet-name>RetrievePasswordServlet</servlet-name>
      <servlet-class>com.admin.RetrievePasswords.RetrievePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>RetrievePasswordServlet</servlet-name>
      <url-pattern>/retrieve-password</url-pattern>
    </servlet-mapping>
</web-app>